.sq-dwn-branch {
	width: 294px;
  height: 30px;
	border-radius:4px;
	padding-left:3px;
  padding-bottom: 5px;
}

.sq-inputtxt {
	text-align: right;
	padding-right:5px;
	border: solid 1px #D3D3D3;
	border-radius:3px;
	width:80px;
  margin-left: 10px;
}

.spacebottom {
	margin-bottom: -5px;
	margin-top: -9px;
}

.salesquotation {
  margin-top:-10px;
}

.bulkpack {
  border-radius: 3px;
  width: 200px;
  height: 24px;
}

.sales-quotation-details {
  border: solid 1px #C0C0C0;
  border-radius: 4px;
  width:1500px;
  height: auto;
  position: inline;
}

.sales-quot-header {
  border: none;
  margin-left: 15px;
  margin-top: 1px;

}

   .edit-input {
    display:none;
}

.tbody{
     height: auto;
     min-height:15px;
     display:block;
    }

.groupborder{

  border: solid 2px  #DCDCDC;
  border-radius: 4px;
  margin-bottom: 4px;
  margin-top: 2px;
}

.totallabel{
  margin-right: 100px;
  display: inline-block;
}

input:focus {outline: none; }

.termscondition{
  margin-top: -5px;
   font-size: 120%;
}

/*ul{
    list-style-type: none;
}
*/

.sq-dwn-d_type {
  width: 100px;
  height: 28px;
  border-radius:4px;
  padding-left:3px;
  padding-bottom: 5px;
}

.sq-dwn-prj_list {
  width: 120px;
  height: 28px;
  border-radius:4px;
  padding-left:3px;
  padding-bottom: 5px;
}

.distance{
  margin-bottom: 3px;
}

.score-content{
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  display: left;
}
.score-content2{
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  display: right;
}

.dis{
  width:150px;
  font-weight:2px;
  padding-left: 3px;
}

.txt{
  margin-left: 10px;
}

